body{
    background-color: #00002d;
}
.quiz_main_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family:'Ubuntu';
}
.quiz_cont{
    width: 40%;
}
.name_cont p {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: white;
}
.name_cont p:nth-child(1){
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 29px;
}
.quest_count_cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top:40px;
}
.count_cont {
    width: 50px;
        font-size: 19px;
        font-weight: 500;
        color: white;
    }
    .count_cont {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
    }
    .quiz_main_cont {
        margin-top: 78px;
    }
    .score_cont {
        width: 338px;
        height: 213px;
        background-color: #033abd;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .score_main_cont {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin-top: -50px;
    }
    
}